#test-button{
  height: 2em;
  width: 15em;
}

#popup-header{
  font-family: Georgia,"Times New Roman",serif;
}

#main-box{
  height:20em;
  width:25em;
  display: flex;
  flex-direction: column;
}

.container{

}

.checkbox-line{
  display: absolute;
  align-items:center;
  cursor:pointer;
}
.stylized-checkbox::before{
  position:absolute;
  font-weight:1000;
  font-size:1.25em;
  left:0.95em;
  
}

input[type="checkbox"]{
  height: 2em;
  width: 2em;
  appearance:none;
  -webkit-appearance: none;
  /*border: 1px solid #34495E;*/
  border-radius: .6em;
  outline:none;
  /*outline:gray outset .3em;
  transition-duration: 0.3s;*/
  background-color: hsl(180, 48%, 49%);
  vertical-align: middle;
  content:close-quote;
  
}

input[type="checkbox"]:hover{
  background-color: hsl(180, 45%, 35%);
  cursor:inherit;
}

input[type="checkbox"]:checked{
  background-color: hsl(12, 100%, 72%);
}

.checkbox-line > input:checked + span::before{
  content:"\2713";
  position: absolute;

}

