
body{
  background-color:dimgrey;
  border-color:aqua;
}

#popup-header{
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:aliceblue;
}

#main-box{
  height:20em;
  width:25em;
  display: flex;
  flex-direction: column;
}

.chooser-container{
  display:inherit;

}

.checkbox-line{
  display: absolute;
  align-items:center;
  cursor:pointer;
}

.checkbox-label{
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: aliceblue;
}

.checkbox-label::before{
  position:absolute;
  font-weight:1000;
  font-size:2em;
  left:4.75%;
  color:black;
}

input[type="checkbox"]{
  height: 2em;
  width: 2em;
  appearance:none;
  -webkit-appearance: none;
  border-radius: .6em;
  outline:none;
  background-color: hsl(180, 48%, 49%);
  vertical-align: middle;
  content:close-quote;
  transition-duration: 30sec;

}

input[type="checkbox"]:hover{
  background-color: hsl(180, 45%, 35%);
  cursor:inherit;
}

input[type="checkbox"]:checked{
  background-color: hsl(12, 100%, 72%);
}

.checkbox-line > input:checked + span::before{
  content:"\2713";
  position: absolute;

}
